.howItWorkSectionWrapper {
    background-color: #FEF9EF;

    & .howItWorkSectionContainer{
        width: 100%;
        margin: 0 auto;
        padding: 0 24px;
        max-width: 1320px;

        & .howItWorkSectionContenDetail{
            & .workBadge {

            }
            & h5{
                font-family: Geist;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.1px;
                color: #502F10;
                padding: 0;
                margin: 0 0 10px;
            }
            & h1{
                font-family: Unbounded;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 42px;
                line-height: 52px;
                letter-spacing: 0.1px;
                padding: 0;
                margin: 0;
                color: #502F10;

                & span{
                    color: #F16319;
                }
            }
        }
    }
}