.header {
  background: #667eea;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoutBtn {
  background: white;
  color: #667eea;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.logoutBtn:hover {
  opacity: 0.9;
}
.headerRight{
  display: flex;
  & .cartButton{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    color: #667eea;
    font-family: Unbounded;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
 
    font-size: 14px;
        
    & svg{
      width: 25px;
      height: 25px;
    }
  }
}
.centerLinks{
  & a{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
}